@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.form-modal, .dashboard {
  background-color: white;
}

.dark .form-modal, .dark .dashboard {
  background-color: #14B8A6;
}

.form-modal h1, .form-modal p, form label, form .input, .dashboard h1, .dashboard p {
  color: black;
}

.dark .form-modal h1, .dark .form-modal p, .dark form label, .dark form .input, .dark .dashboard h1, .dark .dashboard p {
  color: white;
}

.info-label {
  color: black !important;
}
